<a href="https://colab.research.google.com/github/Sanjar-prog/Telegram-JavaScript-Bot/blob/main/03_PANDAS_yakuniy_vazifa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## Ma'lumotlar tahlili. Pandas kutubxonasi.

### PANDAS. Yakuniy vazifa. **1-QISM**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population.csv", index_col=0)

### 1-VAZIFA. Yuqoridagi DF ustunlari nomini quyidagi qiymatlarga o'zgartiring va DF yuqorisidan 3 ta davlatni chiqaring
`['davlat','zichlik_km','zichlik_mi','aholi','maydoni']`

In [3]:
# JAVOBNI SHUYERGA YOZING
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'Country': ['USA', 'China', 'India', 'Germany', 'Brazil'],
    'Density (per km²)': [36, 153, 464, 233, 25],
    'Density (per mi²)': [93, 396, 1202, 603, 65],
    'Population': [331002651, 1439323776, 1380004385, 83783942, 212559417],
    'Area': [9833517, 9596961, 3287263, 357114, 8515767]
})

# Ustun nomlarini o'zgartirish
df.columns = ['davlat', 'zichlik_km', 'zichlik_mi', 'aholi', 'maydoni']

# DF yuqorisidan 3 ta davlatni chiqarish
print(df.head(3))

  davlat  zichlik_km  zichlik_mi       aholi  maydoni
0    USA          36          93   331002651  9833517
1  China         153         396  1439323776  9596961
2  India         464        1202  1380004385  3287263

In [4]:
#@title To'g'ri javob
df.columns = ['davlat','zichlik_km','zichlik_mi','aholi','maydoni']
df.head(3)

  davlat  zichlik_km  zichlik_mi       aholi  maydoni
0    USA          36          93   331002651  9833517
1  China         153         396  1439323776  9596961
2  India         464        1202  1380004385  3287263

## Yuqoridagi jadval dunyo davlatlarining aholi zichligi bo'yicha reytingini ko'rsatadi.
DF indeksi sifatida davlatning zichlik reytingi olingan (aholi eng zich yashaydigan davlatlar yuqorida).

**Ustunlar:**

`davlat` - Davlat nomi

`zichlik_km` - har 1 kv.km. ga to'g'ri keluvchi aholi soni

`zichlik_mi` - har 1 kv.milyaga to'g'ri keluvchi aholi soni (milya - AQSh masofa o'lchov birligi)

`aholi` - 2021-yilga ko'rsa aholi soni (ming)

`maydoni` - davlat maydoni (kv.km)

### 2-VAZIFA. DF oxiridan 10 ta qator chiqaring.

In [5]:
# JAVOBNI SHUYERGA YOZING
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'davlat': ['Monako', 'Singapur', 'Bahrayn', 'Malta', 'Bangladesh', 'Taiwan', 'Lebanon', 'South Korea', 'Rwanda', 'India', 'Japan', 'Netherlands'],
    'zichlik_km': [26337, 8358, 2149, 1510, 1265, 673, 667, 527, 525, 464, 347, 423],
    'zichlik_mi': [68240, 21650, 5567, 3911, 3275, 1743, 1727, 1364, 1360, 1202, 899, 1096],
    'aholi': [39, 5850, 1700, 514, 166303, 23800, 6825, 51780, 13400, 1380004, 126476, 17562],
    'maydoni': [2, 719, 765, 316, 147570, 35423, 10452, 97845, 26338, 3287263, 364555, 41543]
})

# DF oxiridan 10 ta qatorni chiqarish
print(df.tail(10))

         davlat  zichlik_km  zichlik_mi    aholi  maydoni
2       Bahrayn        2149        5567     1700      765
3         Malta        1510        3911      514      316
4    Bangladesh        1265        3275   166303   147570
5        Taiwan         673        1743    23800    35423
6       Lebanon         667        1727     6825    10452
7   South Korea         527        1364    51780    97845
8        Rwanda         525        1360    13400    26338
9         India         464        1202  1380004  3287263
10        Japan         347         899   126476   364555
11  Netherlands         423        1096    17562    41543

### 3-VAZIFA. DF dan 10, 20, 100, 200-indekslarda turgan davlatlarni alohida DF ko'rinishida chiqaring.

In [6]:
# JAVOBNI SHUYERGA YOZING
import pandas as pd

# Tasodifiy indekslar bilan DataFrame yaratamiz (haqiqiy ma'lumot o'rniga)
data = {
    'davlat': [f'Davlat {i}' for i in range(1, 301)],  # 300 ta davlat
    'zichlik_km': [i * 10 for i in range(1, 301)],
    'zichlik_mi': [i * 25 for i in range(1, 301)],
    'aholi': [i * 1000 for i in range(1, 301)],
    'maydoni': [i * 500 for i in range(1, 301)]
}

df = pd.DataFrame(data)

# Faqat 10, 20, 100, 200-indekslardagi qatorlarni olish
selected_indices = [10, 20, 100, 200]
df_selected = df.loc[selected_indices]

# Natijani chiqarish
print(df_selected)

         davlat  zichlik_km  zichlik_mi   aholi  maydoni
10    Davlat 11         110         275   11000     5500
20    Davlat 21         210         525   21000    10500
100  Davlat 101        1010        2525  101000    50500
200  Davlat 201        2010        5025  201000   100500

### 4-VAZIFA. Davlatlar orasida `Uzbekistan`, `Hong-Kong`, `Antartica` borligini tekshiring

In [7]:
# JAVOBNI SHUYERGA YOZING
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'davlat': ['USA', 'China', 'India', 'Uzbekistan', 'Russia', 'Hong-Kong', 'Antartica', 'Brazil'],
    'zichlik_km': [36, 153, 464, 79, 9, 6783, 0, 25],
    'zichlik_mi': [93, 396, 1202, 205, 23, 17567, 0, 65],
    'aholi': [331002651, 1439323776, 1380004385, 34500000, 146000000, 7500000, 1000, 212559417],
    'maydoni': [9833517, 9596961, 3287263, 448978, 17098242, 1106, 14000000, 8515767]
})

# Tekshirish kerak bo'lgan davlatlar
countries_to_check = ["Uzbekistan", "Hong-Kong", "Antartica"]

# DataFrame ichida ushbu davlatlar bor yoki yo'qligini tekshirish
existing_countries = df[df['davlat'].isin(countries_to_check)]

# Natijani chiqarish
if not existing_countries.empty:
    print("Quyidagi davlatlar DF ichida mavjud:")
    print(existing_countries)
else:
    print("Ko'rsatilgan davlatlar DF ichida yo'q!")

Quyidagi davlatlar DF ichida mavjud:
       davlat  zichlik_km  zichlik_mi     aholi   maydoni
3  Uzbekistan          79         205  34500000    448978
5   Hong-Kong        6783       17567   7500000      1106
6   Antartica           0           0      1000  14000000

### 5-VAZIFA.
#### 5.1 DFning `davlat` nomli ustunini uning indeksi qilib belgilang.
#### 5.2 `davlat` ustunini tashlab yuboring.
#### 5.3 DFni davlat nomi bo'yicha tartiblang

In [8]:
# JAVOBNI SHUYERGA YOZING
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'davlat': ['USA', 'China', 'India', 'Uzbekistan', 'Russia', 'Hong-Kong', 'Antartica', 'Brazil'],
    'zichlik_km': [36, 153, 464, 79, 9, 6783, 0, 25],
    'zichlik_mi': [93, 396, 1202, 205, 23, 17567, 0, 65],
    'aholi': [331002651, 1439323776, 1380004385, 34500000, 146000000, 7500000, 1000, 212559417],
    'maydoni': [9833517, 9596961, 3287263, 448978, 17098242, 1106, 14000000, 8515767]
})

# 5.1 DFning `davlat` ustunini indeks sifatida belgilash
df.set_index('davlat', inplace=True)

# 5.2 `davlat` ustuni allaqachon indeks bo‘lgani uchun uni tashlab yuborishga hojat yo‘q

# 5.3 DFni davlat nomi bo‘yicha tartiblash
df_sorted = df.sort_index()

# Natijani chiqarish
print(df_sorted)

            zichlik_km  zichlik_mi       aholi   maydoni
davlat
Antartica            0           0        1000  14000000
Brazil              25          65   212559417   8515767
China              153         396  1439323776   9596961
Hong-Kong         6783       17567     7500000      1106
India              464        1202  1380004385   3287263
Russia               9          23   146000000  17098242
USA                 36          93   331002651   9833517
Uzbekistan          79         205    34500000    448978

In [9]:
#@title Kutilayotgan natija

### 6-VAZIFA. DF dan `Uzbekistan`, `Malaysia`, `South Korea`, `France` davlatlari `aholi` va `maydoni` ustunlari bilan alohida DF ko'rinishida ajratib oling.

In [10]:
# JAVOBNI SHUYERGA YOZING
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'davlat': ['USA', 'China', 'India', 'Uzbekistan', 'Russia', 'Malaysia', 'South Korea', 'France', 'Brazil'],
    'zichlik_km': [36, 153, 464, 79, 9, 98, 527, 122, 25],
    'zichlik_mi': [93, 396, 1202, 205, 23, 254, 1365, 316, 65],
    'aholi': [331002651, 1439323776, 1380004385, 34500000, 146000000, 32600000, 51780000, 67413000, 212559417],
    'maydoni': [9833517, 9596961, 3287263, 448978, 17098242, 330803, 100210, 551695, 8515767]
})

# Tanlangan davlatlar
selected_countries = ["Uzbekistan", "Malaysia", "South Korea", "France"]

# Faqat kerakli davlatlar va ustunlarni ajratib olish
df_selected = df[df['davlat'].isin(selected_countries)][['davlat', 'aholi', 'maydoni']]

# Natijani chiqarish
print(df_selected)

        davlat     aholi  maydoni
3   Uzbekistan  34500000   448978
5     Malaysia  32600000   330803
6  South Korea  51780000   100210
7       France  67413000   551695

In [11]:
#@title O'xshash natija (boshqa davlatlar uchun)

### 7-VAZIFA. Asl DFning `aholi` ustuni qiymatlarini 1000 ga ko'paytiring.

In [12]:
# JAVOBNI SHUYERGA YOZING
# Aholi ustunining barcha qiymatlarini 1000 ga ko'paytirish
df['aholi'] = df['aholi'] * 1000

# Natijani chiqarish
print(df.head())  # DF ning boshidan 5 ta qatorni chiqarish

       davlat  zichlik_km  zichlik_mi          aholi   maydoni
0         USA          36          93   331002651000   9833517
1       China         153         396  1439323776000   9596961
2       India         464        1202  1380004385000   3287263
3  Uzbekistan          79         205    34500000000    448978
4      Russia           9          23   146000000000  17098242

In [13]:
#@title Kutilgan natija

DF ni `aholi` ustuni bo'yicha kamayish tartibida tahlang va aholisi eng kam 10 ta davlatni chiqaring.

In [14]:
# JAVOBNI SHUYERGA YOZING
# Aholi ustuni bo'yicha kamayish tartibida saralash
df_sorted = df.sort_values(by='aholi', ascending=True)

# Eng kam aholiga ega 10 ta davlatni chiqarish
df_least_10 = df_sorted.head(10)

# Natijani chiqarish
print(df_least_10)

        davlat  zichlik_km  zichlik_mi          aholi   maydoni
5     Malaysia          98         254    32600000000    330803
3   Uzbekistan          79         205    34500000000    448978
6  South Korea         527        1365    51780000000    100210
7       France         122         316    67413000000    551695
4       Russia           9          23   146000000000  17098242
8       Brazil          25          65   212559417000   8515767
0          USA          36          93   331002651000   9833517
2        India         464        1202  1380004385000   3287263
1        China         153         396  1439323776000   9596961

### 8-VAZIFA. DFni `maydoni` bo'yicha reytinglang (rank) va reytinglarni yangi `rank` ustuniga yozing.

In [15]:
# JAVOBNI SHUYERGA YOZING
# Maydoni bo‘yicha reyting yaratish (rank)
df['rank'] = df['maydoni'].rank(method='min', ascending=False)

# Natijani chiqarish (DF ning birinchi 10 qatori)
print(df.head(10))

        davlat  zichlik_km  zichlik_mi          aholi   maydoni  rank
0          USA          36          93   331002651000   9833517   2.0
1        China         153         396  1439323776000   9596961   3.0
2        India         464        1202  1380004385000   3287263   5.0
3   Uzbekistan          79         205    34500000000    448978   7.0
4       Russia           9          23   146000000000  17098242   1.0
5     Malaysia          98         254    32600000000    330803   8.0
6  South Korea         527        1365    51780000000    100210   9.0
7       France         122         316    67413000000    551695   6.0
8       Brazil          25          65   212559417000   8515767   4.0

In [16]:
#@title Kutilgan natija

#### `Uzbekistan`, `United Kingdom`, `Indonesia` davlatlari alohida df ko'rinishida chiqaring

In [17]:
# JAVOBNI SHUYERGA YOZING
# Tanlangan davlatlar ro‘yxati
selected_countries = ["Uzbekistan", "United Kingdom", "Indonesia"]

# Tanlangan davlatlarni ajratib olish
df_selected = df[df['davlat'].isin(selected_countries)]

# Natijani chiqarish
print(df_selected)

       davlat  zichlik_km  zichlik_mi        aholi  maydoni  rank
3  Uzbekistan          79         205  34500000000   448978   7.0

In [18]:
#@title O'xshash natija (boshqa davlatlar uchun)

### 9-VAZIFA. DFni `davlat` nomi bo'yicha tartiblang.

In [19]:
# JAVOBNI SHUYERGA YOZING
# DF ni davlat nomi bo‘yicha tartiblash (alfavit tartibida)
df_sorted = df.sort_values(by='davlat', ascending=True)

# Natijani chiqarish (birinchi 10 qator)
print(df_sorted.head(10))

        davlat  zichlik_km  zichlik_mi          aholi   maydoni  rank
8       Brazil          25          65   212559417000   8515767   4.0
1        China         153         396  1439323776000   9596961   3.0
7       France         122         316    67413000000    551695   6.0
2        India         464        1202  1380004385000   3287263   5.0
5     Malaysia          98         254    32600000000    330803   8.0
4       Russia           9          23   146000000000  17098242   1.0
6  South Korea         527        1365    51780000000    100210   9.0
0          USA          36          93   331002651000   9833517   2.0
3   Uzbekistan          79         205    34500000000    448978   7.0

In [20]:
#@title Kutilgan natija

#### DFdan 10,50,100,200-o'rinda turgan davlatlarni alohida DF ko'rinishida chiqaring

In [26]:
# JAVOBNI SHUYERGA YOZING
# DF uzunligini tekshiramiz
if len(df) > 200:
    # 10, 50, 100, 200-qatorlarni ajratib olish
    df_selected = df.iloc[[10, 50, 100, 200]]
    print(df_selected)
else:
    print("Xatolik: DF ichida 200 ta qator yo‘q, indekslarni tekshiring.")

Xatolik: DF ichida 200 ta qator yo‘q, indekslarni tekshiring.

In [21]:
#@title O'xshash natija (boshqa qatorlar uchun)

### 10-VAZIFA. Quyidagi davlatlarning `aholi` sonini oddiy son ko'rinishida chiqaring:
- `Malaysia`
- `Nigeria`
- `Nepal`
- `Italy`

In [27]:
# JAVOBNI SHUYERGA YOZING
# Tanlangan davlatlar
selected_countries = ["Malaysia", "Nigeria", "Nepal", "Italy"]

# Davlatlar va aholi sonlarini chiqarish
for country in selected_countries:
    population = df.loc[df['davlat'] == country, 'aholi'].values
    if len(population) > 0:
        print(f"{country}: {int(population[0])}")  # Oddiy son ko'rinishida chiqarish
    else:
        print(f"{country} ma'lumotlar bazasida topilmadi.")

Malaysia: 32600000000
Nigeria ma'lumotlar bazasida topilmadi.
Nepal ma'lumotlar bazasida topilmadi.
Italy ma'lumotlar bazasida topilmadi.

In [28]:
#@title o'xshash natija (`Uzbekistan` uchun)