<a href="https://colab.research.google.com/github/Sanjar-prog/Telegram-JavaScript-Bot/blob/main/Copy_of_Pandas_kutubxonasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
from pandas import Series # series ma'lumotlar tuzilmasi

In [ ]:
obj = Series([4, 5, 6, -6.5])

In [ ]:
type(obj)

pandas.core.series.Series

In [ ]:
print(obj)

0    4.0
1    5.0
2    6.0
3   -6.5
dtype: float64

In [ ]:
obj.values

array([ 4. ,  5. ,  6. , -6.5])

In [ ]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
obj[0]

4.0

In [ ]:
obj2=Series([6, 3, 2, 1], index=['a','b','c','d'])

In [ ]:
obj2

a    6
b    3
c    2
d    1
dtype: int64

In [ ]:
obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
obj2['a']

6

In [ ]:
obj2[['d', 'b', 'd']]

d    1
b    3
d    1
dtype: int64

In [ ]:
obj2[obj2>3]

a    6
dtype: int64

obj2*2

In [ ]:
obj2*2

a    12
b     6
c     4
d     2
dtype: int64

In [ ]:
obj2

a    6
b    3
c    2
d    1
dtype: int64

In [ ]:
np.exp(obj2)

a    403.428793
b     20.085537
c      7.389056
d      2.718282
dtype: float64