<a href="https://colab.research.google.com/github/Sanjar-prog/Telegram-JavaScript-Bot/blob/main/cut()_va_qcut()_yordamida_guruhlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population.csv', usecols=['country','pop2021','area'], index_col='country')
df.head()

            pop2021  area
country
Macau       658.394    30
Monaco       39.511     2
Singapore  5896.686   710
Hong Kong  7552.810  1104
Gibraltar    33.698     6

In [3]:
df.loc['Uzbekistan']

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

In [4]:
df.loc['India']

pop2021    1393409.038
area       3287590.000
Name: India, dtype: float64

In [5]:
bins = [0, 1000, 10000, 30000, 50000, 100000, 300000, 1500000]

In [6]:
population = df.pop2021

In [7]:
population

country
Macau                658.394
Monaco                39.511
Singapore           5896.686
Hong Kong           7552.810
Gibraltar             33.698
                      ...
Namibia             2587.344
Western Sahara       611.875
Mongolia            3329.289
Falkland Islands       3.533
Greenland             56.877
Name: pop2021, Length: 232, dtype: float64

In [8]:
guruh = pd.cut(population, bins)
guruh

country
Macau                   (0, 1000]
Monaco                  (0, 1000]
Singapore           (1000, 10000]
Hong Kong           (1000, 10000]
Gibraltar               (0, 1000]
                        ...
Namibia             (1000, 10000]
Western Sahara          (0, 1000]
Mongolia            (1000, 10000]
Falkland Islands        (0, 1000]
Greenland               (0, 1000]
Name: pop2021, Length: 232, dtype: category
Categories (7, interval[int64, right]): [(0, 1000] < (1000, 10000] < (10000, 30000] <
                                         (30000, 50000] < (50000, 100000] < (100000, 300000] <
                                         (300000, 1500000]]

In [9]:
guruh.value_counts()

pop2021
(0, 1000]            72
(1000, 10000]        68
(10000, 30000]       44
(30000, 50000]       19
(50000, 100000]      15
(100000, 300000]     11
(300000, 1500000]     3
Name: count, dtype: int64

In [ ]:
df['guruh'] = guruh
df.head()

            pop2021  area          guruh
country
Macau       658.394    30      (0, 1000]
Monaco       39.511     2      (0, 1000]
Singapore  5896.686   710  (1000, 10000]
Hong Kong  7552.810  1104  (1000, 10000]
Gibraltar    33.698     6      (0, 1000]

In [10]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [11]:
df.price.describe()

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

In [12]:
bins = [0, 10000, 20000, 50000]

In [13]:
range = pd.cut(df.price, bins)
range

index
0     (10000, 20000]
1     (10000, 20000]
2     (10000, 20000]
3     (10000, 20000]
4     (10000, 20000]
           ...
81        (0, 10000]
82        (0, 10000]
86        (0, 10000]
87    (10000, 20000]
88    (10000, 20000]
Name: price, Length: 61, dtype: category
Categories (3, interval[int64, right]): [(0, 10000] < (10000, 20000] < (20000, 50000]]

In [14]:
range.value_counts()

price
(0, 10000]        28
(10000, 20000]    17
(20000, 50000]    13
Name: count, dtype: int64

In [15]:
names = ["arzon", "o'rta", "qimmat"]
range = pd.cut(df.price, bins, labels=names)
range.value_counts()

price
arzon     28
o'rta     17
qimmat    13
Name: count, dtype: int64

In [16]:
range = pd.cut(df.price, 5)
range.value_counts()

price
(5110.751, 13200.8]    32
(13200.8, 21250.6]     14
(29300.4, 37350.2]      7
(37350.2, 45400.0]      3
(21250.6, 29300.4]      2
Name: count, dtype: int64

In [17]:
range = pd.qcut(df.price, 5)
range.value_counts()

price
(5150.999, 6604.6]    12
(7959.6, 13589.2]     12
(23719.2, 45400.0]    12
(6604.6, 7959.6]      11
(13589.2, 23719.2]    11
Name: count, dtype: int64

In [18]:
range = pd.qcut(df.horsepower, 3)
range.value_counts()

horsepower
(47.999, 70.0]    24
(111.0, 288.0]    20
(70.0, 111.0]     17
Name: count, dtype: int64

In [19]:
range = pd.qcut(df.price, 3)
range.value_counts()

price
(16430.0, 45400.0]    20
(5150.999, 7295.0]    19
(7295.0, 16430.0]     19
Name: count, dtype: int64

In [20]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [21]:
df.company.unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mitsubishi',
       'nissan', 'porsche', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [22]:
df.company.value_counts()

company
toyota           7
bmw              6
mazda            5
nissan           5
mercedes-benz    4
audi             4
volkswagen       4
mitsubishi       4
chevrolet        3
jaguar           3
isuzu            3
honda            3
porsche          3
alfa-romero      3
dodge            2
volvo            2
Name: count, dtype: int64

In [28]:
df.groupby('company').price.max()

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu             6785.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [32]:
df.groupby(['company', 'body-style']).price.max()

company        body-style
alfa-romero    convertible    16500.0
               hatchback      16500.0
audi           sedan          17450.0
               wagon          18920.0
bmw            sedan          41315.0
chevrolet      hatchback       6295.0
               sedan           6575.0
dodge          hatchback       6377.0
honda          sedan          12945.0
               wagon           7295.0
isuzu          sedan           6785.0
jaguar         sedan          36000.0
mazda          hatchback      11845.0
               sedan          18344.0
mercedes-benz  hardtop        45400.0
               sedan          40960.0
               wagon          28248.0
mitsubishi     hatchback       6189.0
               sedan           8189.0
nissan         sedan          13499.0
               wagon           7349.0
porsche        convertible    37028.0
               hardtop        34028.0
               hatchback          NaN
toyota         hatchback       6488.0
               wagon          15750.0
volkswagen     sedan           9995.0
volvo          sedan          12940.0
               wagon          13415.0
Name: price, dtype: float64

In [36]:
df.groupby('company').price.agg([min, max, lambda x: np.median(x)])

<ipython-input-36-9d6a9fcc0327>:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('company').price.agg([min, max, lambda x: np.median(x)])
<ipython-input-36-9d6a9fcc0327>:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('company').price.agg([min, max, lambda x: np.median(x)])

                   min      max  <lambda_0>
company
alfa-romero    13495.0  16500.0     16500.0
audi           13950.0  18920.0     16350.0
bmw            16430.0  41315.0     25865.0
chevrolet       5151.0   6575.0      6295.0
dodge           6229.0   6377.0      6303.0
honda           7295.0  12945.0     10345.0
isuzu           6785.0   6785.0         NaN
jaguar         32250.0  36000.0     35550.0
mazda           5195.0  18344.0      6795.0
mercedes-benz  25552.0  45400.0     34604.0
mitsubishi      5389.0   8189.0      6589.0
nissan          6649.0  13499.0      7099.0
porsche        34028.0  37028.0         NaN
toyota          5348.0  15750.0      6918.0
volkswagen      7775.0   9995.0      7985.0
volvo          12940.0  13415.0     13177.5

In [37]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/MOCK_USER_DATA.csv", index_col=0)
df.head()

   first_name   last_name                           email       gender   age
id
1     Dorothy     Verryan               dverryan0@who.int   Non-binary     1
2     Pietrek     Scanlin          pscanlin1@yolasite.com         Male    91
3      Lilith    Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
4        Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid     6
5    Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female    48

In [38]:
df.describe()

               age
count   100.000000
mean    145.660000
std     565.631411
min     -85.000000
25%      22.750000
50%      53.500000
75%      84.250000
max    4444.000000

In [40]:
df[df.age>123].index

Index([3, 39, 47, 49, 65, 80, 100], dtype='int64', name='id')

In [42]:
df[(df.age<0) | (df.age>123)]

    first_name  last_name                           email       gender   age
id
3       Lilith   Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
11      Elijah      Heine                eheinea@imdb.com     Bigender   -85
19       Luisa  Bradborne            lbradbornei@fema.gov       Female   -75
21       Levin     Worner                lwornerk@ihg.com  Genderqueer   -43
33    Ebenezer    Greeves           egreevesw@myspace.com         Male   -26
38        Hana   Langwade  hlangwade11@washingtonpost.com  Genderqueer   -42
39      Godard      Miere               gmiere12@1688.com   Polygender  3434
47       Cleve  Sparshatt      csparshatt1a@economist.com  Genderfluid   333
49       Trace   Stockney          tstockney1c@flavors.me       Female   344
65      Eloise    Snoddon    esnoddon1s@elegantthemes.com  Genderfluid   332
80       Gabie     Rothon              grothon27@ehow.com  Genderqueer  4444
90   Zachariah      Meins            zmeins2h@weather.com         Male   -69
100      Mable    Toffano          mtoffano2r@myspace.com     Bigender   233

In [44]:
df['age'].apply(np.abs)

id
1         1
2        91
3      1233
4         6
5        48
       ...
96       64
97       18
98       55
99       46
100     233
Name: age, Length: 100, dtype: int64

In [45]:
np.abs(-20)

np.int64(20)

In [46]:
idx = df[df.age>123].index
idx

Index([3, 39, 47, 49, 65, 80, 100], dtype='int64', name='id')

In [47]:
df.drop(index=idx, inplace=True)
df.describe()

              age
count   93.000000
mean    45.301075
std     40.279131
min    -85.000000
25%     20.000000
50%     49.000000
75%     77.000000
max    100.000000

In [48]:
df

   first_name   last_name                           email       gender  age
id
1     Dorothy     Verryan               dverryan0@who.int   Non-binary    1
2     Pietrek     Scanlin          pscanlin1@yolasite.com         Male   91
4        Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid    6
5    Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female   48
6       Glynn      Ebbing          gebbing5@rakuten.co.jp  Genderfluid   77
..        ...         ...                             ...          ...  ...
95      Byron  Whittleton   bwhittleton2m@theatlantic.com   Non-binary    2
96       Baxy       Marcu        bmarcu2n@list-manage.com      Agender   64
97     Kattie     Claxson          kclaxson2o@booking.com       Female   18
98       Clem     Fullerd  cfullerd2p@creativecommons.org     Bigender   55
99  Desdemona     Jurasek        djurasek2q@aboutads.info  Genderfluid   46

[93 rows x 5 columns]

In [49]:
df.gender.value_counts()

gender
Male           21
Bigender       12
Female         11
Genderfluid    11
Non-binary     10
Genderqueer    10
Agender         9
Polygender      9
Name: count, dtype: int64

In [51]:
df = df[df.gender.isin(['Male', 'Female'])]

In [52]:
df

   first_name     last_name                         email  gender  age
id
2     Pietrek       Scanlin        pscanlin1@yolasite.com    Male   91
5    Mohammed    Habbershon  mhabbershon4@sourceforge.net  Female   48
10      David      Meredyth    dmeredyth9@telegraph.co.uk  Female   68
12  Raffaello     Firminger     rfirmingerb@bloomberg.com  Female   74
17      Byram   Martynikhin     bmartynikhing@jiathis.com    Male   40
19      Luisa     Bradborne          lbradbornei@fema.gov  Female  -75
22        Ray         Padly           rpadlyl@twitpic.com    Male   85
26   Ephrayim    Westmacott         ewestmacottp@ning.com    Male   77
29      Biron      Acklands        backlandss@comsenz.com    Male   13
33   Ebenezer       Greeves         egreevesw@myspace.com    Male  -26
34     Brooks          Vose             bvosex@amazon.com  Female   34
36        Axe       Arundel           aarundelz@yahoo.com  Female   14
43       Bili     Swetenham        bswetenham16@europa.eu    Male   23
46     Alvira  Stollsteiner     astollsteiner19@mysql.com    Male   66
58     Brynna        Worsom              bworsom1l@wp.com    Male   66
61       Page       Merrell     pmerrell1o@slideshare.net    Male    1
62     Kennan         Visco          kvisco1p@jiathis.com  Female   94
63   Adrianne       Gommowe  agommowe1q@deliciousdays.com    Male  100
67     Bunnie        Ozanne      bozanne1u@whitehouse.gov    Male   92
70      Ambur        Aickin           aaickin1x@about.com    Male   60
72   Eleanora       Kamenar       ekamenar1z@examiner.com    Male   47
74      Curry    Smalecombe  csmalecombe21@washington.edu    Male   69
76      Misty         Blanc         mblanc23@amazon.co.jp    Male   74
77     Rudolf        Kalewe           rkalewe24@fotki.com    Male   12
81       Alex         Darth    adarth28@ezinearticles.com  Female   98
86    Rogerio          Akid           rakid2d@latimes.com  Female    3
87      Peder        Murrie       pmurrie2e@bloglovin.com    Male   69
88       Kain     Dumphries  kdumphries2f@hugedomains.com    Male   93
90  Zachariah         Meins          zmeins2h@weather.com    Male  -69
91      Judas        Maffin         jmaffin2i@dropbox.com    Male    3
94     Sheree        Cockin     scockin2l@accuweather.com  Female   94
97     Kattie       Claxson        kclaxson2o@booking.com  Female   18

In [53]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/MOCK_USER_DATA.csv", index_col=0)
df.head()

   first_name   last_name                           email       gender   age
id
1     Dorothy     Verryan               dverryan0@who.int   Non-binary     1
2     Pietrek     Scanlin          pscanlin1@yolasite.com         Male    91
3      Lilith    Sarjeant  lsarjeant2@creativecommons.org  Genderfluid  1233
4        Knox  Cunningham    kcunningham3@yellowpages.com  Genderfluid     6
5    Mohammed  Habbershon    mhabbershon4@sourceforge.net       Female    48

In [54]:
len(df)

100

In [56]:
randlist = np.random.permutation(100)
randlist

array([86, 74, 15, 50,  8, 80, 19, 54, 58, 46, 27, 40, 97, 82, 67, 81, 10,
       76, 34, 71, 36, 49, 35, 23, 72, 25, 85, 42, 24, 12, 43,  4, 22, 56,
        6, 16, 45, 93, 83,  9, 90, 21, 41, 91, 94, 79, 11, 31, 77, 87, 30,
       75, 32, 95, 38, 60, 63, 70, 64, 28, 88, 44, 78, 59, 89, 51, 52,  1,
       55, 69,  0, 53,  2, 66, 96, 20,  5, 57, 29, 92, 73, 14, 47, 84, 61,
        7, 37, 33, 18, 39, 62, 98, 48, 13, 65, 17,  3, 99, 26, 68])

In [57]:
df.take(randlist)

    first_name   last_name                         email       gender  age
id
87       Peder      Murrie       pmurrie2e@bloglovin.com         Male   69
75        Andy     Belchem      abelchem22@artisteer.com  Genderfluid   37
16        Anny      Rodway         arodwayf@examiner.com   Non-binary   87
51   Gwendolin     Kennion  gkennion1e@independent.co.uk     Bigender   83
9          Der      Neames      dneames8@ycombinator.com     Bigender   77
..         ...         ...                           ...          ...  ...
18     Artemus    Shovelin         ashovelinh@sphinn.com   Non-binary   58
4         Knox  Cunningham  kcunningham3@yellowpages.com  Genderfluid    6
100      Mable     Toffano        mtoffano2r@myspace.com     Bigender  233
27     Natalee     Baudone        nbaudoneq@marriott.com  Genderqueer   74
69       Ruthy     Bessett      rbessett1w@google.com.hk  Genderqueer    7

[100 rows x 5 columns]

In [60]:
df.sample(10)

   first_name  last_name                         email       gender  age
id
14    Mariana    Shevels             mshevelsd@msn.com      Agender   60
73      Liane    Cackett          lcackett20@jigsy.com  Genderqueer   40
88       Kain  Dumphries  kdumphries2f@hugedomains.com         Male   93
85       Dido     Megany          dmegany2c@unesco.org   Non-binary   65
48  Sutherlan     Duigan             sduigan1b@ask.com   Non-binary   27
86    Rogerio       Akid           rakid2d@latimes.com       Female    3
99  Desdemona    Jurasek      djurasek2q@aboutads.info  Genderfluid   46
8         Nye  Anthiftle      nanthiftle7@examiner.com      Agender   99
11     Elijah      Heine              eheinea@imdb.com     Bigender  -85
24       Mart     Brosel              mbroseln@cdc.gov  Genderfluid   22