<a href="https://colab.research.google.com/github/Sanjar-prog/Telegram-JavaScript-Bot/blob/main/DF_pandas_3_amaliyot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Imgur](https://i.imgur.com/5pXzCIu.png)

# **DATA SCIENCE VA SUN'IY INTELLEKT PRAKTIKUM**

## Ma'lumotlar tahlili. Pandas kutubxonasi.

# **AMALIYOT**
## DataFrame ustida amallar

### **1-mashq**. `Pandas` kutubxonasini `pd`, `numpy` kutubxonasini `np` deb chaqirib oling

In [1]:
# Javobni shuyerga yozing
import pandas as pd
import numpy as np

In [ ]:
#@title **To'g'ri javob**
import pandas as pd
import numpy as np

### Mashg'ulot uchun DF yuklab olamiz.
Quyidagi kodni bajaring

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv", index_col=0)

### **2-mashq.** DF hajmini chiqaring

In [4]:
# import pandas as pd
import numpy as np

# Misol uchun kichik bir DataFrame yaratamiz
df = pd.DataFrame(np.random.rand(5, 3), columns=['A', 'B', 'C'])

# DataFrame hajmini chiqarish
print("DataFrame hajmi:", df.shape)

DataFrame hajmi: (5, 3)

In [3]:
#@title To'g'ri javob
df.shape

(2499, 12)

### **3-mashq**. DF boshidan 6 ta qator chiqaring

In [5]:
# Javobni shuyerga yozing
import pandas as pd
import numpy as np

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame(np.random.rand(10, 3), columns=['A', 'B', 'C'])

# DF boshidan 6 ta qatorni chiqarish
print(df.head(6))

          A         B         C
0  0.563800  0.291651  0.771401
1  0.404335  0.527612  0.908152
2  0.484808  0.171126  0.748263
3  0.987898  0.358868  0.613626
4  0.355035  0.923658  0.804300
5  0.158468  0.955129  0.996623

In [6]:
#@title To'g'ri javob
df.head(6)

          A         B         C
0  0.563800  0.291651  0.771401
1  0.404335  0.527612  0.908152
2  0.484808  0.171126  0.748263
3  0.987898  0.358868  0.613626
4  0.355035  0.923658  0.804300
5  0.158468  0.955129  0.996623

### **4-mashq.** DF oxiridan 5 ta qator chiqaring

In [7]:
# Javobni shuyerga yozing
import pandas as pd
import numpy as np

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame(np.random.rand(10, 3), columns=['A', 'B', 'C'])

# DF oxiridan 5 ta qatorni chiqarish
print(df.tail(5))

          A         B         C
5  0.689671  0.375271  0.128171
6  0.292140  0.164159  0.177583
7  0.191754  0.021143  0.283476
8  0.700396  0.019097  0.250355
9  0.825816  0.993569  0.442365

In [8]:
#@title To'g'ri javob
df.tail()

          A         B         C
5  0.689671  0.375271  0.128171
6  0.292140  0.164159  0.177583
7  0.191754  0.021143  0.283476
8  0.700396  0.019097  0.250355
9  0.825816  0.993569  0.442365

### **5-mashq**. DF ni yili `year` bo'yicha tartiblab chiqaring

In [9]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'year': [2023, 2020, 2022, 2019, 2021],
    'value': [10, 20, 15, 25, 30]
})

# DF ni 'year' ustuni boâ€˜yicha tartiblash
df_sorted = df.sort_values(by='year')

# Natijani chiqarish
print(df_sorted)

   year  value
3  2019     25
1  2020     20
4  2021     30
2  2022     15
0  2023     10

In [10]:
#@title To'g'ri javob
df.sort_values(by="year")

   year  value
3  2019     25
1  2020     20
4  2021     30
2  2022     15
0  2023     10

### **6-mashq**. DF qatorlarini narxi bo'yicha reytinglang va konsolga narxi bo'yicha tartiblangan holatda chiqaring.

In [11]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'product': ['A', 'B', 'C', 'D', 'E'],
    'price': [5000, 3000, 7000, 1000, 6000]
})

# Narx boâ€˜yicha tartiblash
df_sorted = df.sort_values(by='price', ascending=False)

# Narx boâ€˜yicha reyting qoâ€˜shish (katta narxga yuqori reyting)
df_sorted['rank'] = df_sorted['price'].rank(method='dense', ascending=False).astype(int)

# Natijani chiqarish
print(df_sorted)

  product  price  rank
2       C   7000     1
4       E   6000     2
0       A   5000     3
1       B   3000     4
3       D   1000     5

In [ ]:
#@title To'g'ri javob
df['rank'] = df['price'].rank()
df.sort_values('price')

      price          brand       model  ...  country      condition    rank
410       0      chevrolet        door  ...      usa    2 days left    22.0
330       0           ford        door  ...      usa  19 hours left    22.0
331       0           ford        door  ...      usa  17 hours left    22.0
339       0           ford        door  ...      usa    2 days left    22.0
496       0           ford      pickup  ...      usa  17 hours left    22.0
...     ...            ...         ...  ...      ...            ...     ...
1215  65500           ford         srw  ...      usa  21 hours left  2495.0
277   67000          dodge  challenger  ...      usa  21 hours left  2496.0
1336  70000           ford         drw  ...      usa    2 days left  2497.0
1340  74000           ford         drw  ...      usa    2 days left  2498.0
502   84900  mercedes-benz    sl-class  ...      usa    2 days left  2499.0

[2499 rows x 13 columns]

### **7-mashq**. DFdan eng qimmat mashina haqidagi ma'lumotni chiqaring

In [12]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'car': ['BMW', 'Mercedes', 'Tesla', 'Toyota', 'Audi'],
    'price': [50000, 70000, 80000, 30000, 60000]
})

# Eng qimmat mashina ma'lumotini topish
most_expensive_car = df[df['price'] == df['price'].max()]

# Natijani chiqarish
print(most_expensive_car)

     car  price
2  Tesla  80000

In [13]:
#@title To'g'ri javob
idx = df['price'].idxmax()
df.iloc[idx]

car      Tesla
price    80000
Name: 2, dtype: object

### **8-mashq**. DFdan eng ko'p yurgan (`km_driven`) mashina haqidagi ma'lumotni chiqaring

In [14]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'car': ['BMW', 'Mercedes', 'Tesla', 'Toyota', 'Audi'],
    'km_driven': [50000, 120000, 30000, 150000, 100000]
})

# Eng koâ€˜p yurgan mashina ma'lumotini topish
most_driven_car = df[df['km_driven'] == df['km_driven'].max()]

# Natijani chiqarish
print(most_driven_car)

      car  km_driven
3  Toyota     150000

In [19]:
#@title To'g'ri javob
idx = df['mileage'].idxmax()
df.iloc[idx]

KeyError: 'mileage'

### **9-mashq**. DF dagi barcha brandlar va ularning sonini chiqaring

In [20]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'brand': ['BMW', 'Mercedes', 'Toyota', 'BMW', 'Audi', 'Toyota', 'Mercedes', 'BMW']
})

# Har bir brand va ularning sonini chiqarish
brand_counts = df['brand'].value_counts()

# Natijani chiqarish
print(brand_counts)

brand
BMW         3
Mercedes    2
Toyota      2
Audi        1
Name: count, dtype: int64

In [21]:
#@title **To'g'ri javob**
df['brand'].value_counts()

brand
BMW         3
Mercedes    2
Toyota      2
Audi        1
Name: count, dtype: int64

### **10-mashq**. DF dagi raqamli ustunlar haqida umulashtiruvchi statistikani chiqaring (min, max, mean, std va hokazo)

In [22]:
# Javobni shuyerga yozing
import pandas as pd
import numpy as np

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'price': [50000, 70000, 80000, 30000, 60000],
    'km_driven': [50000, 120000, 30000, 150000, 100000],
    'year': [2015, 2018, 2020, 2012, 2016]
})

# Raqamli ustunlar statistikasi
stats = df.describe()

# Natijani chiqarish
print(stats)

              price      km_driven        year
count      5.000000       5.000000     5.00000
mean   58000.000000   90000.000000  2016.20000
std    19235.384062   49497.474683     3.03315
min    30000.000000   30000.000000  2012.00000
25%    50000.000000   50000.000000  2015.00000
50%    60000.000000  100000.000000  2016.00000
75%    70000.000000  120000.000000  2018.00000
max    80000.000000  150000.000000  2020.00000

In [23]:
#@title **To'g'ri javob**
df.describe()

              price      km_driven        year
count      5.000000       5.000000     5.00000
mean   58000.000000   90000.000000  2016.20000
std    19235.384062   49497.474683     3.03315
min    30000.000000   30000.000000  2012.00000
25%    50000.000000   50000.000000  2015.00000
50%    60000.000000  100000.000000  2016.00000
75%    70000.000000  120000.000000  2018.00000
max    80000.000000  150000.000000  2020.00000

### **11-mashq**. DF dan ford kompaniyasining barcha mashinalarnini ajratib chiqaring

In [24]:
# Javobni shuyerga yozingimport pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'brand': ['BMW', 'Ford', 'Toyota', 'Ford', 'Audi', 'Ford', 'Mercedes'],
    'model': ['X5', 'Focus', 'Corolla', 'Mustang', 'A4', 'Fiesta', 'C-Class'],
    'price': [50000, 20000, 25000, 35000, 40000, 18000, 60000]
})

# Ford mashinalarini ajratib olish
ford_cars = df[df['brand'] == 'Ford']

# Natijani chiqarish
print(ford_cars)

  brand    model  price
1  Ford    Focus  20000
3  Ford  Mustang  35000
5  Ford   Fiesta  18000

In [25]:
#@title **To'g'ri javob**
df[df.brand=='ford']

Empty DataFrame
Columns: [brand, model, price]
Index: []

### **12-mashq**. Nissan kompaniyasining eng qimmat va eng arzon mashinalarini chiqaring

In [29]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'brand': ['BMW', 'Nissan', 'Toyota', 'Nissan', 'Audi', 'Nissan', 'Mercedes'],
    'model': ['X5', 'Altima', 'Corolla', 'GT-R', 'A4', 'Sunny', 'C-Class'],
    'price': [50000, 25000, 22000, 90000, 40000, 18000, 60000]
})

# Nissan mashinalarini ajratib olish
nissan_cars = df[df['brand'] == 'Nissan']

# Eng qimmat Nissan mashinasi
most_expensive_nissan = nissan_cars[nissan_cars['price'] == nissan_cars['price'].max()]

# Eng arzon Nissan mashinasi
cheapest_nissan = nissan_cars[nissan_cars['price'] == nissan_cars['price'].min()]

# Natijani chiqarish
print("Eng qimmat Nissan mashinasi:\n", most_expensive_nissan)
print("\nEng arzon Nissan mashinasi:\n", cheapest_nissan)

Eng qimmat Nissan mashinasi:
     brand model  price
3  Nissan  GT-R  90000

Eng arzon Nissan mashinasi:
     brand  model  price
5  Nissan  Sunny  18000

In [30]:
#@title **To'g'ri javob**
df_nissan = df[df.brand=='nissan']
df_nissan.loc[df_nissan['price'].idxmin()]

ValueError: attempt to get argmin of an empty sequence

In [31]:
#@title
df_nissan.loc[df_nissan['price'].idxmax()]

ValueError: attempt to get argmax of an empty sequence

### **13-mashq**. Chevrolet kompaniyasining barcha modellarini chiqaring

In [32]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'brand': ['BMW', 'Chevrolet', 'Toyota', 'Chevrolet', 'Audi', 'Chevrolet', 'Mercedes'],
    'model': ['X5', 'Camaro', 'Corolla', 'Malibu', 'A4', 'Spark', 'C-Class'],
    'price': [50000, 35000, 22000, 28000, 40000, 15000, 60000]
})

# Chevrolet kompaniyasining barcha modellarini ajratib olish
chevrolet_models = df[df['brand'] == 'Chevrolet']['model']

# Natijani chiqarish
print("Chevrolet modellar:\n", chevrolet_models.to_list())

Chevrolet modellar:
 ['Camaro', 'Malibu', 'Spark']

In [33]:
#@title **To'g'ri javob**
df[df.brand=="chevrolet"]['model'].value_counts()

Series([], Name: count, dtype: int64)

### **14-mashq**. Mashina narxi va yili o'rtasidagi korrelyasiya qiymatini chiqaring

In [34]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'brand': ['BMW', 'Toyota', 'Chevrolet', 'Mercedes', 'Audi'],
    'price': [50000, 25000, 30000, 60000, 40000],
    'year': [2015, 2018, 2020, 2012, 2016]
})

# Narx va yil oâ€˜rtasidagi korrelyatsiyani hisoblash
correlation = df['price'].corr(df['year'])

# Natijani chiqarish
print("Mashina narxi va yili o'rtasidagi korrelyatsiya:", correlation)

Mashina narxi va yili o'rtasidagi korrelyatsiya: -0.9268192393552392

In [35]:
#@title **To'g'ri javob**
df['price'].corr(df.year)

-0.9268192393552392

### **14-mashq**. Mashina narxi va boshqa ustunlar o'rtasidagi korrelyasiyani chiqaring

In [37]:
# Javobni shuyerga yozing
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'brand': ['BMW', 'Toyota', 'Chevrolet', 'Mercedes', 'Audi'],
    'price': [50000, 25000, 30000, 60000, 40000],
    'year': [2015, 2018, 2020, 2012, 2016],
    'km_driven': [50000, 120000, 90000, 70000, 100000],
    'engine_size': [2.0, 1.8, 1.6, 3.0, 2.5]
})

# Narx va boshqa ustunlar oâ€˜rtasidagi korrelyatsiyani hisoblash
# Only include numeric columns for correlation calculation
correlation_matrix = df.select_dtypes(include=['number']).corr()

# Faqat narx bilan bogâ€˜liq korrelyatsiyalarni olish
price_correlation = correlation_matrix['price']

# Natijani chiqarish
print("Mashina narxi va boshqa ustunlar o'rtasidagi korrelyatsiyalar:\n", price_correlation)

Mashina narxi va boshqa ustunlar o'rtasidagi korrelyatsiyalar:
 price          1.000000
year          -0.926819
km_driven     -0.794889
engine_size    0.803111
Name: price, dtype: float64

In [39]:
#@title **To'g'ri javob**
df.corrwith(df.price)

ValueError: could not convert string to float: 'BMW'

### **15-mashq**. DF dan kia va hyundai mashinalarini ajratib alohida DF ga saqlang. Yangi DFni chiqaring

In [40]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'brand': ['BMW', 'Kia', 'Toyota', 'Hyundai', 'Audi', 'Kia', 'Hyundai', 'Mercedes'],
    'model': ['X5', 'Sportage', 'Corolla', 'Tucson', 'A4', 'Rio', 'Elantra', 'C-Class'],
    'price': [50000, 30000, 22000, 28000, 40000, 25000, 27000, 60000]
})

# Kia va Hyundai mashinalarini ajratib olish
kia_hyundai_df = df[df['brand'].isin(['Kia', 'Hyundai'])]

# Yangi DataFrame ni chiqarish
print("Kia va Hyundai mashinalari:\n", kia_hyundai_df)

Kia va Hyundai mashinalari:
      brand     model  price
1      Kia  Sportage  30000
3  Hyundai    Tucson  28000
5      Kia       Rio  25000
6  Hyundai   Elantra  27000

In [41]:
#@title **To'g'ri javob**
brands = ['kia','hyundai']
df2 = df[df['brand'].isin(brands)]
df2

Empty DataFrame
Columns: [brand, model, price]
Index: []

### **16-mashq**. Chevrolet kompaniyasining malibu va impala mashinalarini alohida DF ko'rinishida chiqaring

In [42]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'brand': ['BMW', 'Chevrolet', 'Toyota', 'Chevrolet', 'Audi', 'Chevrolet', 'Mercedes'],
    'model': ['X5', 'Malibu', 'Corolla', 'Impala', 'A4', 'Camaro', 'C-Class'],
    'price': [50000, 28000, 22000, 30000, 40000, 35000, 60000]
})

# Chevrolet kompaniyasining faqat Malibu va Impala modellarini ajratib olish
chevy_malibu_impala = df[(df['brand'] == 'Chevrolet') & (df['model'].isin(['Malibu', 'Impala']))]

# Yangi DataFrame ni chiqarish
print("Chevrolet Malibu va Impala mashinalari:\n", chevy_malibu_impala)

Chevrolet Malibu va Impala mashinalari:
        brand   model  price
1  Chevrolet  Malibu  28000
3  Chevrolet  Impala  30000

In [43]:
#@title **To'g'ri javob**
models = ['malibu','impala']
df_ch = df[df.brand=='chevrolet']
df_ch[df_ch['model'].isin(models)]

Empty DataFrame
Columns: [brand, model, price]
Index: []

### **17-mashq**. Ford kompaniyasining mustang modelini alohioda DF ga ajrating

In [45]:
# Javobni shuyerga yozimport pandas as pd

import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'brand': ['BMW', 'Ford', 'Toyota', 'Ford', 'Audi', 'Ford', 'Mercedes'],
    'model': ['X5', 'Mustang', 'Corolla', 'F-150', 'A4', 'Mustang', 'C-Class'],
    'price': [50000, 55000, 22000, 40000, 40000, 60000, 60000]
})

# Ford kompaniyasining faqat Mustang modellarini ajratib olish
ford_mustang_df = df[(df['brand'] == 'Ford') & (df['model'] == 'Mustang')]

# Yangi DataFrame ni chiqarish
print("Ford Mustang mashinalari:\n", ford_mustang_df)

Ford Mustang mashinalari:
   brand    model  price
1  Ford  Mustang  55000
5  Ford  Mustang  60000

In [46]:
#@title **To'g'ri javob**
df_mustang = df[(df['brand']=='ford') & (df['model']=='mustang')]
df_mustang.head()

Empty DataFrame
Columns: [brand, model, price]
Index: []

### **18-mashq**. 2018-yildan keyin chiqqan Mustang mashinalirining o'rtacha narxini chiqaring

In [47]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'brand': ['BMW', 'Ford', 'Toyota', 'Ford', 'Audi', 'Ford', 'Ford'],
    'model': ['X5', 'Mustang', 'Corolla', 'F-150', 'A4', 'Mustang', 'Mustang'],
    'year': [2015, 2020, 2018, 2017, 2016, 2019, 2021],
    'price': [50000, 55000, 22000, 40000, 40000, 60000, 62000]
})

# 2018-yildan keyin chiqqan Ford Mustang mashinalarini ajratib olish
mustang_2018_up = df[(df['brand'] == 'Ford') & (df['model'] == 'Mustang') & (df['year'] > 2018)]

# O'rtacha narxni hisoblash
average_price = mustang_2018_up['price'].mean()

# Natijani chiqarish
print("2018-yildan keyin chiqqan Ford Mustang mashinalarining o'rtacha narxi:", average_price)

2018-yildan keyin chiqqan Ford Mustang mashinalarining o'rtacha narxi: 59000.0

In [49]:
#@title **To'g'ri javob**
df_mustang[df_mustang['year']>=2018]['price'].mean()

KeyError: 'year'

### **19-mashq**. Mustang mashinalari haqida umumlashgan statistikani chiqaring

In [50]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'brand': ['BMW', 'Ford', 'Toyota', 'Ford', 'Audi', 'Ford', 'Ford'],
    'model': ['X5', 'Mustang', 'Corolla', 'F-150', 'A4', 'Mustang', 'Mustang'],
    'year': [2015, 2020, 2018, 2017, 2016, 2019, 2021],
    'price': [50000, 55000, 22000, 40000, 40000, 60000, 62000],
    'km_driven': [50000, 30000, 70000, 60000, 40000, 25000, 20000]
})

# Ford Mustang mashinalarini ajratib olish
mustang_df = df[(df['brand'] == 'Ford') & (df['model'] == 'Mustang')]

# Mustang mashinalari haqida umumiy statistika
mustang_stats = mustang_df.describe()

# Natijani chiqarish
print("Ford Mustang mashinalari haqida umumiy statistika:\n", mustang_stats)

Ford Mustang mashinalari haqida umumiy statistika:
          year         price  km_driven
count     3.0      3.000000        3.0
mean   2020.0  59000.000000    25000.0
std       1.0   3605.551275     5000.0
min    2019.0  55000.000000    20000.0
25%    2019.5  57500.000000    22500.0
50%    2020.0  60000.000000    25000.0
75%    2020.5  61000.000000    27500.0
max    2021.0  62000.000000    30000.0

In [51]:
#@title **To'g'ri javob**
df_mustang.describe()

       price
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

### **20-mashq**. Sotuvdagi ford mashinalarining aksari nechachni yilda ishlab chiqarilganini toping

In [52]:
# Javobni shuyerga yozing
import pandas as pd

# Misol uchun DataFrame yaratamiz
df = pd.DataFrame({
    'brand': ['BMW', 'Ford', 'Toyota', 'Ford', 'Audi', 'Ford', 'Ford', 'Ford', 'Ford'],
    'model': ['X5', 'Mustang', 'Corolla', 'F-150', 'A4', 'Mustang', 'Focus', 'Fusion', 'Mustang'],
    'year': [2015, 2020, 2018, 2017, 2016, 2019, 2020, 2021, 2020],
    'price': [50000, 55000, 22000, 40000, 40000, 60000, 20000, 25000, 62000]
})

# Ford brendiga tegishli mashinalarni ajratib olish
ford_df = df[df['brand'] == 'Ford']

# Eng koâ€˜p ishlab chiqarilgan yilni topish
most_common_year = ford_df['year'].mode()[0]

# Natijani chiqarish
print("Sotuvdagi Ford mashinalarining aksariyati ishlab chiqarilgan yil:", most_common_year)

Sotuvdagi Ford mashinalarining aksariyati ishlab chiqarilgan yil: 2020

In [53]:
#@title **To'g'ri javob**
df[df.brand=='ford'][['year']].value_counts().idxmax()

ValueError: attempt to get argmax of an empty sequence