<a href="https://colab.research.google.com/github/Sanjar-prog/Telegram-JavaScript-Bot/blob/main/DS_3_Modul_3_Amaliyot_tozalash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ![Imgur](https://i.imgur.com/5pXzCIu.png)

# **DATA SCIENCE VA SUN'IY INTELLEKT PRAKTIKUM**

## 3.2 Ma'lumotlarni tayyorlash

# **AMALIYOT**
## Ma'lumotlarga ishlov berish

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/mukhammad-irmatov/health_dataset/main/healt_info.csv")
df.head(3)

,Sno,AGE,SEX,CASTE_NAME,CATEGORY_CODE,CATEGORY_NAME,SURGERY_CODE,SURGERY,VILLAGE,MANDAL_NAME,...,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,HOSP_DISTRICT,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,1,56,Female,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Lolugu,Ponduru,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,2,37,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Borivanka,Kaviti,...,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,3,50,Male,BC,M6,NEPHROLOGY,M6.5,Maintenance Hemodialysis For Crf,Kapasakuddi,Kaviti,...,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,Srikakulam,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D

Bu dataset sug'urta kompaniyasining real ma'lumotlardan tuzilgan. Bu datasetda 480000 qator sug'urta ma'lumotlar tashkil topgan.
Quyida datasetning ba'zi ustunlari haqida qisqacha ma'lumot

*   Sno = seriya raqami
*   AGE = yoshi
*   SEX = jinsi (female = ayol, male = erkak)
*   CASTE_NAME = kasta nomi (Hindistonda har bir inson ma'lum bir kastaga oid bo'ladi)
*   CATEGORY_CODE = kategoriya kodi
*   CATEGORY_Name = kategoriya nomi
*   SURGERY_CODE = operatsiya kodi
*   Mandal_Name = mandal nomlanishi ya'ni familiyasi desak ham bo'ladi
*   Mortality Y/N = vafot etgan yoki vafot etmaganligi
*   MORTALITY_DATE = qachon vafot etganligi

### **1-mashq**. Datasetdagi barcha takrorlangan qatorlar sonini toping

In [3]:
# Javobni shuyerga yozing
duplicated_rows = df[df.duplicated()]
print("Takrorlangan qatorlar soni:", duplicated_rows.shape[0])

Takrorlangan qatorlar soni: 0

In [4]:
#@title **To'g'ri javob**
sum(df.duplicated())

0

#### **2-mashq**. Datasetdagi quyidagi ustunlar o'chirib yuborilsin:<br>
*   Sno
*   CATEGORY_CODE
*   SURGERY_CODE
*   MANDAL_NAME
*   DISTRICT_NAME
*   HOSP_DISTRICT
<BR>

In [14]:
# Javobni shuyerga yozing
# O'chirib tashlanadigan ustunlar ro'yxati
columns_to_drop = [
    "Sno",
    "CATEGORY_CODE",
    "SURGERY_CODE",
    "MANDAL_NAME",
    "DISTRICT_NAME",
    "HOSP_DISTRICT"
]

# Ustunlarni o'chirish
df = df.drop(columns=columns_to_drop)

# Natijani ko'rish uchun
df.head()

KeyError: "['Sno', 'CATEGORY_CODE', 'SURGERY_CODE', 'MANDAL_NAME', 'DISTRICT_NAME', 'HOSP_DISTRICT'] not found in axis"

In [13]:
#@title **To'g'ri javob**
df.drop(['Sno','CATEGORY_CODE','SURGERY_CODE','MANDAL_NAME','DISTRICT_NAME','HOSP_DISTRICT'],axis='columns',inplace=True)
df

KeyError: "['Sno', 'CATEGORY_CODE', 'SURGERY_CODE', 'MANDAL_NAME', 'DISTRICT_NAME', 'HOSP_DISTRICT'] not found in axis"

#### **3-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni unique funksiyasi orqali tekshiring.

In [12]:
# Javobni shuyerga yozing
# 'SEX' ustunidagi noyob qiymatlarni ko'rish
unique_sex_values = df['SEX'].unique()
print("SEX ustunidagi noyob qiymatlar:", unique_sex_values)

SEX ustunidagi noyob qiymatlar: ['Female' 'Male' 'Male(Child)' 'Female(Child)' 'FEMALE']

In [19]:
#@title **To'g'ri javob**
df["SEX"].unique()

array([nan], dtype=object)

#### **4-mashq**. Datasetdagi sex(jinsi) nomli qatordagi qiymatlarni **Erkak** va **Ayol** ga o'zgartiring:
O'zgartirish quyidagicha bo'lsin:


*   Male -> Erkak
*   Male(child) -> Erkak
*   Female - > Ayol
*   Female(child) - Ayol
*   MALE -> Erkak
*   FEMALE -> Ayol

In [15]:
# Javobni shuyerga yozing
# 'SEX' ustunidagi qiymatlarni kerakli qiymatlarga almashtirish
df['SEX'] = df['SEX'].replace({
    'Male': 'Erkak',
    'Male(child)': 'Erkak',
    'MALE': 'Erkak',
    'Female': 'Ayol',
    'Female(child)': 'Ayol',
    'FEMALE': 'Ayol'
})

# Natijani tekshirish uchun
print(df['SEX'].unique())

['Ayol' 'Erkak' 'Male(Child)' 'Female(Child)']

In [18]:
#@title **To'g'ri javob**
dict = {"Male":"Erkak","Male(child)":"Erkak", "Female":"Ayol","Female(child)":"Ayol","MALE":"Erkak","FEMALE":"Ayol"}
df["SEX"] = df["SEX"].map(dict)

#### **5-mashq**. Endi xuddi shu SEX columndagi ma'lumotlarni raqamlarga o'zgartiring: Erkaklarni 1 raqamiga, Ayollarni 0 raqamiga o'zgartiring.
*   Erkak -> 1
*   Ayol -> 0

In [16]:
# Javobni shuyerga yozing
# 'SEX' ustunidagi qiymatlarni raqamlarga almashtirish
df['SEX'] = df['SEX'].replace({
    'Erkak': 1,
    'Ayol': 0
})

# Natijani tekshirish uchun
print(df['SEX'].unique())

[0 1 'Male(Child)' 'Female(Child)']

In [17]:
#@title **To'g'ri javob**
dict2 = {'Erkak':1, 'Ayol':0}
df["SEX"] = df["SEX"].map(dict2)
df.head(5)

,AGE,SEX,CASTE_NAME,CATEGORY_NAME,SURGERY,VILLAGE,PREAUTH_DATE,PREAUTH_AMT,CLAIM_DATE,CLAIM_AMOUNT,HOSP_NAME,HOSP_TYPE,SURGERY_DATE,DISCHARGE_DATE,Mortality Y / N,MORTALITY_DATE,SRC_REGISTRATION
0,56,NaN,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Lolugu,03-08-2013 20:38,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,06-08-2013 00:00,07-09-2013 00:00,NO,NaN,D
1,37,NaN,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Borivanka,06-08-2013 07:26,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,08-08-2013 00:00,09-09-2013 00:00,NO,NaN,D
2,50,NaN,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Kapasakuddi,09-08-2013 18:30,12500,22-03-2017 20:25,11500,"Rims Govt. General Hospital, Srikakulam",G,15-08-2013 00:00,18-10-2013 00:00,NO,NaN,D
3,45,NaN,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Telikipenta,24-08-2013 19:37,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,24-08-2013 00:00,27-09-2013 00:00,NO,NaN,D
4,54,NaN,BC,NEPHROLOGY,Maintenance Hemodialysis For Crf,Thandemvalasa,28-08-2013 17:03,12500,22-03-2017 20:25,11000,"Rims Govt. General Hospital, Srikakulam",G,31-08-2013 00:00,02-10-2013 00:00,NO,NaN,D

#### **6-mashq**. Shu jarayonni HOSP_TYPE ustuni uchun ham amalga oshiring.
*   G - General hospital (umumiy kasalxona) degani
*   C - Special hospital (maxsus kasalxona) degani
<br><b>O'zgarish quyidagicha bo'lsin:</b>
*   G -> Umumiy
*   C -> Maxsus

In [20]:
# Javobni shuyerga yozing
# HOSP_TYPE ustunidagi qiymatlarni o'zgartirish
df['HOSP_TYPE'] = df['HOSP_TYPE'].replace({
    'G': 'Umumiy',
    'C': 'Maxsus'
})

# Natijani tekshirish
print(df['HOSP_TYPE'].unique())

['Umumiy' 'Maxsus']

In [21]:
#@title **To'g'ri javob**
df["HOSP_TYPE"] = df["HOSP_TYPE"].map({'G':"Umumiy", 'C':"Maxsus"})

#### **7-mashq**. O'zgartirish amalga oshirilgach, HOSP_TYPE ustunida qancha Umumiy va qancha Maxsus kasalxonalar borligini ham aniqlang

In [22]:
# Javobni shuyerga yozing
# HOSP_TYPE ustunidagi qiymatlar sonini hisoblash
hospital_counts = df['HOSP_TYPE'].value_counts()

print("Umumiy va Maxsus kasalxonalar soni:")
print(hospital_counts)

Umumiy va Maxsus kasalxonalar soni:
Series([], Name: count, dtype: int64)

In [23]:
#@title **To'g'ri javob**
df["HOSP_TYPE"].value_counts()

Series([], Name: count, dtype: int64)

#### **8-mashq**. Datasetda qancha takrorlangan qatorlar borligini aniqlang

In [24]:
# Javobni shuyerga yozing
# Takrorlangan qatorlar sonini hisoblash
duplicated_count = df.duplicated().sum()

print("Takrorlangan qatorlar soni:", duplicated_count)

Takrorlangan qatorlar soni: 32

In [25]:
#@title **To'g'ri javob**
sum(df.duplicated())

32

#### **9-mashq**. Datasetda barcha takrorlangan qatorlarni o'chirib yuboring

In [26]:
# Javobni shuyerga yozing
# Takrorlangan qatorlarni o'chirish
df = df.drop_duplicates()

# Natijani tekshirish
print("Tozalangan dataset o'lchami:", df.shape)

Tozalangan dataset o'lchami: (335362, 17)

In [27]:
#@title **To'g'ri javob**
df.drop_duplicates(inplace=True)

<ipython-input-27-2911572032fd>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(inplace=True)

#### **10-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning o'rtacha qiymatlarini toping.

In [28]:
# Javobni shuyerga yozing

# Shifoxona turiga ko'ra CLAIM_AMOUNT ning o'rtacha qiymatini topish
avg_claim_by_type = df.groupby('HOSP_TYPE')['CLAIM_AMOUNT'].mean()

print("Shifoxona turiga ko'ra o'rtacha to'lov miqdorlari:")
print(avg_claim_by_type)

Shifoxona turiga ko'ra o'rtacha to'lov miqdorlari:
Series([], Name: CLAIM_AMOUNT, dtype: float64)

In [29]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.mean()

Series([], Name: CLAIM_AMOUNT, dtype: float64)

#### **11-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), ClAIM_AMOUNTning minimum qiymatlarini toping.

In [35]:
# Javobni shuyerga yozing
print(df.columns)

Index(['AGE', 'SEX', 'CASTE_NAME', 'CATEGORY_NAME', 'SURGERY', 'VILLAGE',
       'PREAUTH_DATE', 'PREAUTH_AMT', 'CLAIM_DATE', 'CLAIM_AMOUNT',
       'HOSP_NAME', 'HOSP_TYPE', 'SURGERY_DATE', 'DISCHARGE_DATE',
       'Mortality Y / N', 'MORTALITY_DATE', 'SRC_REGISTRATION'],
      dtype='object')

In [36]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.min()

Series([], Name: CLAIM_AMOUNT, dtype: int64)

#### **12-mashq**. Datasetdan shifoxona turiga ko'ra (umumiy va maxsus), CLAIM_AMOUNTning maksimum qiymatlarini toping.

In [39]:
# Javobni shuyerga yozing
print(df.columns)

Index(['AGE', 'SEX', 'CASTE_NAME', 'CATEGORY_NAME', 'SURGERY', 'VILLAGE',
       'PREAUTH_DATE', 'PREAUTH_AMT', 'CLAIM_DATE', 'CLAIM_AMOUNT',
       'HOSP_NAME', 'HOSP_TYPE', 'SURGERY_DATE', 'DISCHARGE_DATE',
       'Mortality Y / N', 'MORTALITY_DATE', 'SRC_REGISTRATION'],
      dtype='object')

In [40]:
#@title **To'g'ri javob**
df.groupby('HOSP_TYPE').CLAIM_AMOUNT.max()

Series([], Name: CLAIM_AMOUNT, dtype: int64)

.agg() yordamida istalgan funksiyalarni chaqirishimiz mumkin, misol uchun numpy dagi mean (o'rta qiymat) funiksiyasini ham qo'shamiz. Natijalarni faqat price ustuni uchun chiqaramiz:

#### **13-mashq**. Datasetdan jinsiga ko'ra CLAIM_AMOUNTning min, max va o'rta qiymatlarni agg() usuli yordamida toping.

In [45]:
# Javobni shuyerga yozing
claim_stats_by_gender = df.groupby('SEX')['CLAIM_AMOUNT'].agg(['min', 'max', 'mean'])

In [46]:
#@title **To'g'ri javob**
df.groupby('SEX').CLAIM_AMOUNT.agg([min, max, np.mean])

<ipython-input-46-502d68c2a8c5>:2: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df.groupby('SEX').CLAIM_AMOUNT.agg([min, max, np.mean])
<ipython-input-46-502d68c2a8c5>:2: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df.groupby('SEX').CLAIM_AMOUNT.agg([min, max, np.mean])
<ipython-input-46-502d68c2a8c5>:2: FutureWarning: The provided callable <function mean at 0x78ac61701f80> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df.groupby('SEX').CLAIM_AMOUNT.agg([min, max, np.mean])

Empty DataFrame
Columns: [min, max, mean]
Index: []