<a href="https://colab.research.google.com/github/Sanjar-prog/Telegram-JavaScript-Bot/blob/main/Iyerarxik_indeksli_ma'lumotlar_to'plami.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd
import numpy as np

In [57]:
data = pd.Series(np.random.randn(9),
                 index=['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd']) # odatiy indeksli Ser
data.index

Index(['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], dtype='object')

In [58]:
data1 = pd.Series(np.random.randn(9),
                  index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 3, 1, 2, 2, 3]]) #irarxik indeksli Ser
data1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [59]:
data1

a  1    0.551681
   2   -1.842232
   3    0.316024
b  1   -0.869749
   3    2.675954
c  1    1.741557
   2   -1.696776
d  2   -1.266650
   3    1.568760
dtype: float64

In [60]:
data1['a'] # subset bilan ajratib olish

1    0.551681
2   -1.842232
3    0.316024
dtype: float64

In [61]:
data1['c':'d'] # c dan d gacha bo'lgan qismini ajratib beradi

c  1    1.741557
   2   -1.696776
d  2   -1.266650
   3    1.568760
dtype: float64

In [22]:
data1.loc[:, 2] # barcha 2-indeksdagi ma'lumotlarni ajratib beradi

a   -0.218768
c    1.471427
d   -1.741221
dtype: float64

In [23]:
data1.loc[['b', 'd']] # barcha b va d indeksdagi elementlar

b  1    0.476703
   3    0.379632
d  2   -1.741221
   3   -0.480787
dtype: float64

unstack

In [24]:
data1

a  1    0.213181
   2   -0.218768
   3   -2.025868
b  1    0.476703
   3    0.379632
c  1    0.860100
   2    1.471427
d  2   -1.741221
   3   -0.480787
dtype: float64

In [25]:
data1.unstack() # sochilgan Ser df ko'rinishida qaytaradi

          1         2         3
a  0.213181 -0.218768 -2.025868
b  0.476703       NaN  0.379632
c  0.860100  1.471427       NaN
d       NaN -1.741221 -0.480787

In [26]:
data1.unstack().stack() # df.ni yig'ilgan Servisga o'giradi

a  1    0.213181
   2   -0.218768
   3   -2.025868
b  1    0.476703
   3    0.379632
c  1    0.860100
   2    1.471427
d  2   -1.741221
   3   -0.480787
dtype: float64

Dunyo shaharlarining havo va suv sifati ma'lumotlari ustida amallar bajarish

In [27]:
!git clone https://github.com/MansurCompAI/Practicum_Datasets.git

Cloning into 'Practicum_Datasets'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 60 (delta 17), reused 16 (delta 1), pack-reused 0 (from 0)
Receiving objects: 100% (60/60), 20.24 MiB | 14.34 MiB/s, done.
Resolving deltas: 100% (17/17), done.

In [29]:
df = pd.read_csv("/content/Practicum_Datasets/world_cities_air_water_quality.csv")
df

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,"""Medina Province""","""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,"""Andalusia""","""Spain""",85.714286,8.333333
3960,Vic,"""Catalonia""","""Spain""",100.000000,0.000000
3961,Segovia,"""Castile and Leon""","""Spain""",100.000000,0.000000
3962,Zamora city,"""Castile and Leon""","""Spain""",100.000000,50.000000

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3963 entries, 0 to 3962
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               3963 non-null   object
 1    "Region"          3963 non-null   object
 2    "Country"         3963 non-null   object
 3    "AirQuality"      3963 non-null   float64
 4    "WaterPollution"  3963 non-null   float64
dtypes: float64(2), object(3)
memory usage: 154.9+ KB

In [31]:
columns = ['City', 'Region', 'Country', 'AirQuality', 'WaterPollution']
df.columns = columns
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,"""Medina Province""","""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,"""Andalusia""","""Spain""",85.714286,8.333333
3960,Vic,"""Catalonia""","""Spain""",100.000000,0.000000
3961,Segovia,"""Castile and Leon""","""Spain""",100.000000,0.000000
3962,Zamora city,"""Castile and Leon""","""Spain""",100.000000,50.000000

In [33]:
df['Region'] = df['Region'].map(lambda x: x.replace('"', ""))
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,"""United States of America""",46.816038,49.504950
1,"Washington, D.C.",District of Columbia,"""United States of America""",66.129032,49.107143
2,San Francisco,California,"""United States of America""",60.514019,43.000000
3,Berlin,,"""Germany""",62.364130,28.612717
4,Los Angeles,California,"""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,"""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,Andalusia,"""Spain""",85.714286,8.333333
3960,Vic,Catalonia,"""Spain""",100.000000,0.000000
3961,Segovia,Castile and Leon,"""Spain""",100.000000,0.000000
3962,Zamora city,Castile and Leon,"""Spain""",100.000000,50.000000

In [34]:
df['Country'] = df['Country'].map(lambda x: x.replace('"', ""))
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [35]:
df.to_csv("Updated_dataset.csv", index=False)

In [36]:
df[df['Country']=='Germany']

Empty DataFrame
Columns: [City, Region, Country, AirQuality, WaterPollution]
Index: []

In [37]:
df['Country'][2]

' United States of America'

In [39]:
df['Country'] = df['Country'].map(lambda x: x.strip())
df

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,Medina Province,Saudi Arabia,0.000000,50.000000
3959,Cordoba,Andalusia,Spain,85.714286,8.333333
3960,Vic,Catalonia,Spain,100.000000,0.000000
3961,Segovia,Castile and Leon,Spain,100.000000,0.000000
3962,Zamora city,Castile and Leon,Spain,100.000000,50.000000

In [41]:
df[df['Country']=='Germany']

,City,Region,Country,AirQuality,WaterPollution
3,Berlin,,Germany,62.364130,28.612717
28,Cologne,North Rhine-Westphalia,Germany,60.714286,27.777778
40,Bonn,North Rhine-Westphalia,Germany,82.812500,22.500000
52,Heilbronn,Baden-Wurttemberg,Germany,80.000000,0.000000
76,Aachen,North Rhine-Westphalia,Germany,70.454545,17.857143
...,...,...,...,...,...
2693,Bad Waldsee,Baden-Wurttemberg,Germany,100.000000,50.000000
2714,Weilheim in Oberbayern,Bavaria,Germany,100.000000,50.000000
2727,Buckow,Brandenburg,Germany,87.500000,50.000000
3942,Erfurt,Thuringia,Germany,85.000000,50.000000
3943,Garmisch-Partenkirchen,Bavaria,Germany,100.000000,50.000000

In [42]:
df[df['Country']=='Uzbekistan']

        City Region     Country  AirQuality  WaterPollution
21  Tashkent         Uzbekistan   56.451613       49.166667

In [43]:
df.to_csv("Updated_dataset.csv", index=False)

pivot_table orqali irarxik indekslash

In [46]:
df.index

RangeIndex(start=0, stop=3963, step=1)

In [45]:
df1 = pd.pivot_table(df, index=['Country', 'Region', 'City'],
                     values=['AirQuality', 'WaterPollution'])
df1

                                                         AirQuality  \
Country     Region                       City
Afghanistan Balkh                        Mazar-i-Sharif   11.111111
            Farah                        Farah           100.000000
            Faryab                       Andkhoy          50.000000
            Herat                        Herat            43.750000
            Kabul                        Kabul            18.421053
...                                                             ...
Zambia      Lusaka Province              Lusaka           33.333333
Zimbabwe                                 Bulawayo         67.857143
                                         Harare           38.461538
                                         Masvingo         25.000000
            Mashonaland Central Province Bindura          50.000000

                                                         WaterPollution
Country     Region                       City
Afghanistan Balkh                        Mazar-i-Sharif       83.333333
            Farah                        Farah                 0.000000
            Faryab                       Andkhoy              50.000000
            Herat                        Herat                31.250000
            Kabul                        Kabul                81.060606
...                                                                 ...
Zambia      Lusaka Province              Lusaka               98.076923
Zimbabwe                                 Bulawayo             71.428571
                                         Harare               87.500000
                                         Masvingo             62.500000
            Mashonaland Central Province Bindura              75.000000

[3963 rows x 2 columns]

In [63]:
df1 = pd.pivot_table(df, index = ['Country', 'City'])
df1

TypeError: agg function failed [how->mean,dtype->object]

In [54]:
df1.loc[['Uzbekistan', 'Germany', 'Tajikistan']]

                                  AirQuality  WaterPollution
Country    Region    City
Uzbekistan           Tashkent      56.451613       49.166667
Germany              Berlin        62.364130       28.612717
                     Bremen        78.750000       15.625000
                     Bremerhaven   75.000000       50.000000
                     Hamburg       70.762712       24.509804
...                                      ...             ...
           Thuringia Erfurt        85.000000       50.000000
                     Gera         100.000000       50.000000
                     Jena          95.000000       75.000000
                     Nordhausen   100.000000       50.000000
Tajikistan           Dushanbe      41.666667       61.111111

[126 rows x 2 columns]