<a href="https://colab.research.google.com/github/Sanjar-prog/Telegram-JavaScript-Bot/blob/main/Iyerarxik_indeksli_ma'lumotlar_to'plami.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.Series(np.random.randn(9),
                 index=['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd']) # odatiy indeksli Ser
data.index

Index(['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], dtype='object')

In [7]:
data1 = pd.Series(np.random.randn(9),
                  index=[['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'],[1, 2, 3, 1, 3, 1, 2, 2, 3]]) #irarxik indeksli Ser
data1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [8]:
data1

a  1    0.912025
   2   -0.030336
   3   -0.252707
b  1    0.084463
   3   -2.702347
c  1   -0.815740
   2    2.088940
d  2    0.274506
   3   -0.581010
dtype: float64

In [9]:
data1['a'] # subset bilan ajratib olish

1    0.912025
2   -0.030336
3   -0.252707
dtype: float64

In [10]:
data1['c':'d'] # c dan d gacha bo'lgan qismini ajratib beradi

c  1   -0.815740
   2    2.088940
d  2    0.274506
   3   -0.581010
dtype: float64

In [11]:
data1.loc[:, 2] # barcha 2-indeksdagi ma'lumotlarni ajratib beradi

a   -0.030336
c    2.088940
d    0.274506
dtype: float64

In [13]:
data1.loc[['b', 'd']] # barcha b va d indeksdagi elementlar

b  1    0.084463
   3   -2.702347
d  2    0.274506
   3   -0.581010
dtype: float64

unstack

In [14]:
data1

a  1    0.912025
   2   -0.030336
   3   -0.252707
b  1    0.084463
   3   -2.702347
c  1   -0.815740
   2    2.088940
d  2    0.274506
   3   -0.581010
dtype: float64

In [15]:
data1.unstack() # sochilgan Ser df ko'rinishida qaytaradi

          1         2         3
a  0.912025 -0.030336 -0.252707
b  0.084463       NaN -2.702347
c -0.815740  2.088940       NaN
d       NaN  0.274506 -0.581010

In [16]:
data1.unstack().stack() # df.ni yig'ilgan Servisga o'giradi

a  1    0.912025
   2   -0.030336
   3   -0.252707
b  1    0.084463
   3   -2.702347
c  1   -0.815740
   2    2.088940
d  2    0.274506
   3   -0.581010
dtype: float64